<section id="about-us">
  <div class="py-20 px-4 max-w-3xl m-auto">
    <h2 class="text-3xl uppercase text-center">¿Quienes somos?</h2>

    <div class="mt-12 text-lg font-light flex flex-col gap-6">
      <p>
        Somos una proveedora de multiservicios compuesta por un equipo
        interdisciplinario de profesionales freelances y socios estratégicos
        especializados en diversas disciplinas, dedicados a brindar servicios y
        soluciones innovadoras que ayuden a nuestros clientes a alcanzar sus
        objetivos comerciales y tecnológicos.
      </p>

      <p>
        Nuestra esperiencia abarca arquitectura en sus diversas ramas, diseño de
        interiores, ingeniería, instalaciones, urbanismo, gerenciamiento de
        proyectos, gerenciamiento de construcción, obras, industrias y
        consultoría, con alcance tanto en Argentina como en el exterior.
      </p>

      <p>
        Mantenemos una comunicación cercana y fluida con nuestros diversos
        clientes, escuchando y comprendiendo sus necesidades y objetivos.
        Nuestra metodología de trabajo se basa en sus intereses, la experiencia
        de nuestro equipo y socios estratégicos nos permite afrontar los
        desafíos más exigentes en cada proyecto.
      </p>
    </div>
  </div>
</section>
