<footer class="m-8 p-4">
  <h2 class="text-2xl uppercase m-auto text-center mb-8">Contactanos</h2>

  <div class="flex flex-col md:flex-row gap-3 justify-between max-w-3xl m-auto">
    <div class="flex flex-col">
      <p class="font-semibold">+5913....</p>
      <p class="font-light">Teléfono</p>
    </div>

    <div class="flex flex-col">
      <p class="font-semibold">arquinterionica@gmail.com</p>
      <p class="font-light">Email</p>
    </div>

    <div class="flex flex-col">
      <p class="font-semibold">Arquinterionica Service Provider</p>
      <p class="font-light">Linkedin</p>
    </div>
  </div>
</footer>
