---
import { Image } from "astro:assets";
import Logo from "../assets/logo.png";
---

<header class="flex flex-col justify-between items-center p-4">
  <Image src={Logo} alt="" class="w-40 md:w-48 m-auto" />
  <div class="flex justify-between gap-6 mt-2 text-base md:gap-16 uppercase">
    <a class="hover:text-amber-500" href="/">Inicio</a>
    <a class="hover:text-amber-500" href="/">Nosotros</a>
    <a class="hover:text-amber-500" href="/">Servicios</a>
    <a class="hover:text-amber-500" href="/">Proyectos</a>
  </div>
</header>
