---
import { Image } from "astro:assets";
import ArquitecturaImage from "../assets/arquitectura.jpg";
import InteriorismoImage from "../assets/interiorismo.jpg";
---

<div class="flex flex-col md:flex-row">
  <a
    class="relative md:w-1/2 w-full saturate-75 hover:saturate-150 transition duration-100 hover:cursor-pointer"
    href="/arquitectura"
  >
    <Image
      src={ArquitecturaImage}
      alt=""
      class="object-cover h-screen w-full"
    />
    <div class="bg-white absolute top-16 left-4 p-4 text-left uppercase">
      <p class="text-2xl">División</p>
      <p class="text-4xl">Arquitectura</p>
    </div>
  </a>

  <a
    class="relative md:w-1/2 w-full saturate-75 hover:saturate-150 transition duration-100 hover:cursor-pointer"
    href="/interiorismo"
  >
    <Image
      src={InteriorismoImage}
      alt=""
      class="object-cover h-screen w-full"
    />
    <div class="bg-white absolute top-16 right-4 p-4 text-right uppercase">
      <p class="text-2xl">División</p>
      <p class="text-4xl">Interiorismo</p>
    </div>
  </a>
</div>
